.vehicle-form {
    .form-control-plaintext,
    .form-select{
        border-bottom: 1px solid #000!important;
    }
}

.progress{
    height: 10px;
    @media (max-width: 480px) {
        height: 5px;
    }
    .progress-bar{
        background-color: $primary-color;
    }
}
.steps{
    font-family: Arial, Helvetica, sans-serif;
    .step{
        background: #e9ecef;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        @media (max-width: 990px) {
            width: 30px;
            height: 30px;
            font-size: 18px;
        }
        border-radius: 50%;
        &.active{
            background: $primary-color;
            color: #fff;
        }
    }
}

.form-control:focus,
.form-select:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 .25rem rgba(237, 13, 22, .25) !important;
}