.slider {
    margin-top: -50px;

    .main-slider {
        overflow: hidden;
        max-height: 486px;

        @media (max-width: 1400px) {
            max-height: 420px;
        }

        @media (max-width: 1200px) {
            max-height: 351px;
        }

        @media (max-width: 768px) {
            max-height: 748px;
        }

        @media (max-width: 480px) {
            max-height: none;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.slick-dots {
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;

    li {
        margin: 0 5px;

        button {
            border: 0;
            text-indent: -999999px;
            background: #cecece;
            border-radius: 50%;
            width: 20px !important;
            height: 20px !important;
            padding: 0;
            display: flex;
        }

        &.slick-active {
            button {
                background: $primary_color;
            }
        }
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 32px;
    height: 42px;
    text-indent: -9999px;
    background: none;
    border: 0;
    cursor: pointer;
    opacity: 1;
    outline: none;
}

.slick-prev {
    left: 20px;
    background: url(../images/icon-arrow-left.webp) no-repeat;
}

.slick-next {
    right: 20px;
    background: url(../images/icon-arrow-right.webp) no-repeat;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 0.5;
}


.vehicle-others {
    .slick-next {
        right: 20px;
        background: #000 url(../images/icon-arrow-right.webp) 17px 12px no-repeat;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: -50px;
        background-size: 20px;
    }

    .slick-prev {
        left: 20px;
        background: #000 url(../images/icon-arrow-left.webp) 13px 12px no-repeat;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: -50px;
        background-size: 20px;
    }
}