header {
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 50px;

  .logo {
    img {
      width: 100%;
      height: auto;
      max-width: 207px;
    }
  }
  h2{
    font-size: 1.5rem!important;
    @media (max-width: 1200px) {
      font-size: 22px!important;
    }
    @media (max-width: 768px) {
      text-align: right;
      font-size: 20px!important;
      font-weight: bold;
      span{
        font-size: 14px!important;
      }
    }
  }
}

.home{
  header{
    padding-bottom: 0;
    &.slider-on {
      padding-bottom: 50px;
    }
  
  }
}