/*
  Add your scss files below to structure your project styles
*/
/* ==========================================================================
   Settings
   ========================================================================== */
/* ==========================================================================
   Tools (Functions, mixins etc.)
   ========================================================================== */
/* ==========================================================================
   Components
   ========================================================================== */
.btn-primary {
  background: #ED0D16 !important;
  border-color: #ED0D16 !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 15px 20px !important;
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1398px) {
  .btn-primary {
    padding: 15px 10px !important;
  }
}
.btn-primary:hover {
  background: #000 !important;
  border-color: #000 !important;
}

.btn-secondary {
  background: #D9D9D9 !important;
  border-color: #D9D9D9 !important;
  border-radius: 0 !important;
  color: #545454 !important;
  padding: 15px 20px !important;
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1398px) {
  .btn-secondary {
    padding: 15px 10px !important;
  }
}
.btn-secondary:hover {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

#main_banner {
  margin-top: -50px;
}
#main_banner .container-banner {
  background: #ED0D16;
}
#main_banner .container-banner .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
#main_banner .container-banner .content .info h2 {
  font-size: 40px;
}
#main_banner .container-banner .content .info h2 span {
  display: block;
  font-weight: 900;
}
#main_banner .container-banner .content .banner {
  background: url(../images/main-banner.webp) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 392px;
}
@media (max-width: 768px) {
  #main_banner .container-banner .content {
    display: flex;
  }
  #main_banner .container-banner .content .info {
    order: 1;
  }
  #main_banner .container-banner .content .banner {
    order: 0;
  }
}

.slider {
  margin-top: -50px;
}
.slider .main-slider {
  overflow: hidden;
  max-height: 486px;
}
@media (max-width: 1400px) {
  .slider .main-slider {
    max-height: 420px;
  }
}
@media (max-width: 1200px) {
  .slider .main-slider {
    max-height: 351px;
  }
}
@media (max-width: 768px) {
  .slider .main-slider {
    max-height: 748px;
  }
}
@media (max-width: 480px) {
  .slider .main-slider {
    max-height: none;
  }
}
.slider .main-slider img {
  width: 100%;
  height: auto;
}

.slick-dots {
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li button {
  border: 0;
  text-indent: -999999px;
  background: #cecece;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  padding: 0;
  display: flex;
}
.slick-dots li.slick-active button {
  background: #ED0D16;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 45%;
  z-index: 1;
  width: 32px;
  height: 42px;
  text-indent: -9999px;
  background: none;
  border: 0;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

.slick-prev {
  left: 20px;
  background: url(../images/icon-arrow-left.webp) no-repeat;
}

.slick-next {
  right: 20px;
  background: url(../images/icon-arrow-right.webp) no-repeat;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 0.5;
}

.vehicle-others .slick-next {
  right: 20px;
  background: #000 url(../images/icon-arrow-right.webp) 17px 12px no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: -50px;
  background-size: 20px;
}
.vehicle-others .slick-prev {
  left: 20px;
  background: #000 url(../images/icon-arrow-left.webp) 13px 12px no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -50px;
  background-size: 20px;
}

.form-control-plaintext,
.form-select {
  border-bottom: 1px solid #000 !important;
}

.progress {
  height: 10px;
}
@media (max-width: 480px) {
  .progress {
    height: 5px;
  }
}
.progress .progress-bar {
  background-color: #ED0D16;
}

.steps {
  font-family: Arial, Helvetica, sans-serif;
}
.steps .step {
  background: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 990px) {
  .steps .step {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}
.steps .step.active {
  background: #ED0D16;
  color: #fff;
}

.form-control:focus,
.form-select:focus {
  border-color: #ED0D16;
  box-shadow: 0 0 0 0.25rem rgba(237, 13, 22, 0.25) !important;
}

/* ==========================================================================
   Modules
   ========================================================================== */
body {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 300;
  background: #fff;
  color: #000;
}
body a {
  text-decoration: none;
  color: #000;
}
body strong {
  font-weight: 800;
}
body p {
  line-height: 1.3;
}

section {
  padding: 45px 0;
}

.primary-color {
  color: #ED0D16 !important;
}

.btn {
  border-radius: 0 !important;
}

.btn-light {
  color: #ED0D16 !important;
}

img.responsive {
  width: 100%;
  height: auto;
}

header {
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 50px;
}
header .logo img {
  width: 100%;
  height: auto;
  max-width: 207px;
}
header h2 {
  font-size: 1.5rem !important;
}
@media (max-width: 1200px) {
  header h2 {
    font-size: 22px !important;
  }
}
@media (max-width: 768px) {
  header h2 {
    text-align: right;
    font-size: 20px !important;
    font-weight: bold;
  }
  header h2 span {
    font-size: 14px !important;
  }
}

.home header {
  padding-bottom: 0;
}
.home header.slider-on {
  padding-bottom: 50px;
}

footer .entry-footer {
  background: #212121;
  color: #fff;
}
footer .entry-footer .logo img {
  width: 100%;
  height: auto;
  max-width: 267px;
}
footer .entry-footer .logo-avatar img {
  width: 100%;
  height: auto;
  max-width: 197px;
}
footer .entry-footer h3 {
  font-size: 18px;
}
footer .entry-footer .bookmarks p {
  font-size: 16px;
}
footer .entry-footer .bookmarks a {
  color: #fff !important;
}
footer .entry-footer .list-links a {
  font-size: 16px;
  color: #fff !important;
  font-weight: 600;
}

.copy {
  background: #d7d7d7;
}
@media (max-width: 768px) {
  .copy .links {
    order: 0;
  }
  .copy .copyright {
    order: 2;
  }
  .copy .selo {
    order: 1;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin: 15px auto;
  }
}
.copy span {
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1398px) {
  .copy span {
    font-size: 14px;
  }
}
.copy .links li {
  padding-left: 15px;
}
.copy .links li a {
  font-size: 16px;
  font-weight: 900;
}
@media (min-width: 992px) and (max-width: 1398px) {
  .copy .links li a {
    font-size: 14px;
  }
}
.copy .links li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 10px;
  background: #000;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .copy .links li::after {
    display: none;
    padding-left: 0;
  }
}
.copy .links li:last-child::after {
  display: none;
}

h2, .h2 h3,
.h3 {
  margin-bottom: 25px;
}

.titulo-page {
  font-size: calc-rem(48px);
}

@media (max-width: 768px) {
  .titulo-secao {
    text-align: center;
  }
}
.titulo-secao h2 {
  font-weight: 900 !important;
}
.titulo-secao h2 span {
  color: #ED0D16 !important;
}
.titulo-secao h3 {
  font-size: calc-rem(28px);
  font-weight: 900 !important;
}
.titulo-secao h3 span {
  color: #ED0D16 !important;
}
.titulo-secao.bar::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background: #ED0D16;
}

.list-consorcio .categoria {
  display: flex;
  align-items: center;
}
.list-consorcio .categoria::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ED0D16;
  margin-right: 15px;
  border-radius: 50%;
}

/*
* HEADER PAGE
*/
.header-page .content {
  margin-top: -50px;
  background: #E9E9E9;
}
.header-page .content .descricao {
  border-left: 5px solid #ED0D16;
  margin: 15px 0;
  padding: 15px 0 0 25px;
}

/* ==========================================================================
   Templates
   ========================================================================== */
#programa {
  padding: 65px 0;
  text-align: center;
}
@media (min-width: 1024px) {
  #programa {
    padding: 65px 7%;
  }
}
#programa .icon {
  width: 172px;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #ED0D16;
  margin: 0 auto 25px auto;
}
#programa .list-programa .h3 {
  font-size: 1.5rem !important;
}

.comecar-programa .container {
  background: #EFEFEF;
}
.comecar-programa .container .content {
  padding: 0 0 0 25px;
}
@media (max-width: 1200px) {
  .comecar-programa .container .content {
    padding: 25px 0 0 25px;
  }
}
@media (max-width: 768px) {
  .comecar-programa .container .content {
    padding: 45px 25px 0 25px;
  }
}
.comecar-programa .container .content img {
  margin: -70px 0 0 0;
}
@media (max-width: 1200px) {
  .comecar-programa .container .content img {
    margin: -70px 0 0 -50px;
  }
}
@media (max-width: 768px) {
  .comecar-programa .container .content img {
    margin: 20px auto 0 auto;
    display: block;
  }
}
.comecar-programa .container .action {
  max-width: 220px;
  margin: 0 auto;
  border-left: 1px solid #000;
  padding-left: 60px;
}
@media (max-width: 1024px) {
  .comecar-programa .container .action {
    max-width: 240px;
  }
}
@media (max-width: 768px) {
  .comecar-programa .container .action {
    margin: 20px auto;
    border-left: 0;
    max-width: 100%;
    padding-left: 0;
  }
}
.comecar-programa .container .action a {
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 1 !important;
  text-align: left !important;
  border-radius: 5px !important;
}
.comecar-programa .container .action a span {
  font-size: 24px;
}
@media (max-width: 768px) {
  .comecar-programa .container .action a {
    text-align: center !important;
    font-size: 18px;
  }
  .comecar-programa .container .action a span {
    font-size: 18px;
  }
}

.dados .content .title {
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  letter-spacing: -1px;
}
.dados .content .title .big {
  letter-spacing: -8px;
  line-height: 1;
  font-size: 92px;
  font-weight: 900;
  display: block;
}
@media (max-width: 1280px) {
  .dados .content .title .big {
    font-size: 72px;
  }
}
@media (max-width: 480px) {
  .dados .content .title .big {
    font-size: 92px;
  }
}
.dados .content .title .small {
  line-height: 1;
  display: block;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  .dados .content .title .small {
    font-size: 44px;
  }
}
@media (max-width: 480px) {
  .dados .content .title .small {
    font-size: 64px;
  }
}
.dados .content .title.historia {
  background: url(../images/historia.webp) no-repeat;
  background-size: cover;
}
.dados .content .title.entregues {
  background: url(../images/entregues.webp) no-repeat;
  background-size: cover;
}
.dados .content .title.pontos {
  background: url(../images/pontos.webp) no-repeat;
  background-size: cover;
}
.dados .content .title.colaboradores {
  background: url(../images/colaboradores.webp) no-repeat;
  background-size: cover;
}
.dados .content img {
  width: 100%;
  height: auto;
}

.motivo {
  background: rgb(102, 102, 102);
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.1040791317) 0%, rgba(255, 255, 255, 0.1) 100%);
}
.motivo .icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.motivo .number {
  font-size: 48px;
}
.motivo .number strong {
  font-weight: 900;
}

.accordion .accordion-item {
  margin-bottom: 10px;
  border: 0;
  border-radius: 0;
}
.accordion .accordion-item .accordion-button {
  font-size: 18px;
  border-radius: 0;
  font-weight: bold;
  background-color: #f1f1f1 !important;
}
.accordion .accordion-item .accordion-button:focus {
  box-shadow: none !important;
}
.accordion .accordion-item .accordion-body {
  border-top: 1px solid #dee2e6 !important;
  background-color: #f1f1f1 !important;
}
.accordion .accordion-item .accordion-body p {
  font-size: 18px;
}

.accordion-button:not(.collapsed) {
  color: #ED0D16;
}

.depoimentos .depoimentos-list .item .avatar {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  overflow: hidden;
}
.depoimentos .depoimentos-list .item .avatar img {
  width: 100%;
  height: auto;
}
.depoimentos .depoimentos-list .item .nome {
  font-size: 20px;
}
.depoimentos .depoimentos-list .item .funcao {
  font-size: 16px;
}
.depoimentos .depoimentos-list .item .end {
  display: flex;
  align-items: end;
}

/* ==========================================================================
   Helpers
   ========================================================================== *//*# sourceMappingURL=main.css.map */