// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-font-family:  "Mulish", sans-serif;

$color-text: #000;
$font-size: 22px;
$font-weight: 300;

$primary-color: #ED0D16;
